<header>
	<img src="/images/lovelyLogo.png">

	{{view Ruby.BedsSelectView
						contentBinding="Ruby.beds"
						optionValuePath="content.value"
						optionLabelPath="content.name"
						valueBinding="controller.beds"
	}}
	<a class="btn btn-danger">Renter Card</a>
	{{#linkTo list.params classNames="btn btn-primary"}}List{{/linkTo}}
	{{#linkTo map.params classNames="btn btn-success"}}Map{{/linkTo}}
</header>